# Plan verification

## Login Handler
### Feature to test
- Initializing the Login webpage
- Loading the email/password input box
- Display error message when take in invalid input
- If user’s input is valid:
    - it will receive the success message from Google
    - User input get store into Firebase

### Test Case: Initializing the Login webpage
- Input: None
- Expected output: Two Input boxes one with caption "Email" another one with caption "Password"
- Environment: Mac and Window
- Precedence and dependencies: Initialization function should always be the first function called
