.App {
    margin-left: 3em;
    margin-right: 3em;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    height: 150px;
    padding: 20px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

body, .btn {
    font-weight: 300;
    font-size: 1rem;
}

body, h2, input {
    font-family: 'Acumin Pro', sans-serif;
}

.btn {
    background-color: #EF5600;
    border-radius: 10px;
    color: white;
    margin-top: 4em;
    padding-bottom: .5em;
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
}

.btn, .content {
    margin: auto;
}

.content {
    padding: 4em;
    width: fit-content;
}

h1 {
    color: #EF5600;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-weight: 400;
    color: #007BAF;
}

strong {
    font-weight: 500;
}

/* Small devices, phones */
@media (min-width: 576px) {
    h1 {
        font-size: 2rem;
    }
}

/* Medium devices, tablets */
@media (min-width: 768px) {
    .App {
        margin-left: 5em;
        margin-right: 5em;
    }
    
    h1 {
        font-size: 3rem;
    }
}

/* Large devices, desktops */
@media (min-width: 992px) {
    .App {
        margin-left: 10em;
        margin-right: 10em;
    }

    h1 {
        font-size: 3.5rem;
    }
}

/* Extra-large devices, large desktops*/
@media (min-width: 1200px) {
    .App {
        margin-left: 20em;
        margin-right: 20em;
    }
}